<%= semantic_form_for @order do |f| %>
  <%
    ordered_product_errors = []
    @order.errors.each do |attribute,errors_array|
      if attribute.to_s =~ /ordered_products/
        ordered_product_errors.push(errors_array) unless attribute.to_s == 'ordered_products.order_id'
      end
    end
  %>
  <% if @order.errors.any? %>
    <div class="errorExplanation">  
      <h2>Errors were found when trying to process your order</h2>
      <p>Please review the information in the form below and correct any errors.</p>
    </div>
  <% end %>
  
  <%= f.inputs "Recipient's Institution", :id => "recipients_intitution" do %>
    <%= f.input :recipient_institute_name, :label => "Institution's Full Name" %>
    <%= f.input :recipient_institute_additional_address_line, :label => 'Additional Address Line' %>
    <%= f.input :recipient_institute_street, :label => 'Street' %>
    <%= f.input :recipient_institute_state, :label => 'State' %>
    <%= f.input :recipient_institute_city, :label => 'City' %>
    <%= f.input :recipient_institute_zip, :label => 'Zip-Code' %>
    <%= f.input :recipient_institute_country, :label => 'Country' %>
  <% end %>
  
  <%= f.inputs "Shipping Address", :id => "shipping_address" do %>
    <%= f.input :shipping_address_institute, :label => "Institution's Full Name" %>
    <%= f.input :shipping_address_person, :label => 'Person/Institute to Send Material to' %>
    <%= f.input :shipping_address_additional_address_line, :label => 'Additional Address Line' %>
    <%= f.input :shipping_address_street, :label => 'Street' %>
    <%= f.input :shipping_address_state, :label => 'State' %>
    <%= f.input :shipping_address_city, :label => 'City' %>
    <%= f.input :shipping_address_zip, :label => 'Zip-Code' %>
  <% end %>
  
  <%= f.inputs "Recipient Principal Scientist", :id => "recipient_principal_scientist" do %>
    <%= f.input :recipient_principal_scientist_person, :label => 'Full Name' %>
    <%= f.input :recipient_principal_scientist_institute, :label => 'Institute' %>
    <%= f.input :recipient_principal_scientist_additional_address_line, :label => 'Additional Address Line' %>
    <%= f.input :recipient_principal_scientist_street, :label => 'Street' %>
    <%= f.input :recipient_principal_scientist_state, :label => 'State' %>
    <%= f.input :recipient_principal_scientist_city, :label => 'City' %>
    <%= f.input :recipient_principal_scientist_zip, :label => 'Zip-Code' %>
    <%= f.input :recipient_principal_scientist_phone, :label => 'Phone' %>
    <%= f.input :recipient_principal_scientist_fax, :label => 'Fax' %>
    <%= f.input :recipient_principal_scientist_email, :label => 'E-Mail' %>
  <% end %>
  
  <%= f.inputs "Recipient Authorized Official", :id => "recipient_authorized_official" do %>
    <%= f.input :recipient_authorized_official_institute, :label => "Institution's Full Name" %>
    <%= f.input :recipient_authorized_official_person, :label => "Official's Full Name" %>
    <%= f.input :recipient_authorized_official_additional_address_line, :label => 'Additional Address Line' %>
    <%= f.input :recipient_authorized_official_street, :label => 'Street' %>
    <%= f.input :recipient_authorized_official_state, :label => 'State' %>
    <%= f.input :recipient_authorized_official_city, :label => 'City' %>
    <%= f.input :recipient_authorized_official_zip, :label => 'Zip-Code' %>
    <%= f.input :recipient_authorized_official_phone, :label => 'Phone' %>
    <%= f.input :recipient_authorized_official_fax, :label => 'Fax' %>
    <%= f.input :recipient_authorized_official_email, :label => 'E-Mail' %>
  <% end %>
  
  <%= f.inputs "Billing Address", :id => "billing_address" do %>
    <%= f.input :billing_address_institute, :label => "Institution's Full Name" %>
    <%= f.input :billing_address_additional_address_line, :label => 'Additional Address Line' %>
    <%= f.input :billing_address_street, :label => 'Street' %>
    <%= f.input :billing_address_state, :label => 'State' %>
    <%= f.input :billing_address_city, :label => 'City' %>
    <%= f.input :billing_address_country, :label => 'Country' %>
    <%= f.input :billing_address_reference, :label => 'Your Reference number or PO-Number (if applicable)' %>
  <% end %>
  
  <%= f.inputs "Tax Details", :id => "tax_details" do %>
    <%= f.input :tax_eu_member_state, :label => 'EU Member State?' %>
    <%= f.input :tax_eu_vat_id, :label => 'EU VAT ID (if applicable)', :hint => 'If your country of residence is within the EU, please provide us with your VAT ID. If you are tax-exempt and, do not have one, you do not need to supply us with one.' %>
  <% end %>
  
  <fieldset id="ordered_products" class="inputs">
    <legend><span>Order Details</span></legend>
    
    <% unless ordered_product_errors.empty? %>
      <div class="errorExplanation">  
        <h2>Errors were found when trying to process these products</h2>
        <ul>
          <% ordered_product_errors.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <table>
      <thead>
        <tr>
          <th>Gene</th>
          <th>Material</th>
          <th><span class="vertical">Genotyping</span></th>
          <th><span class="vertical">1 Extra Vial per Clone</span></th>
          <th><span class="vertical">Allele QC</span></th>
          <th><span class="vertical">Karyotyping</span></th>
          <th><span class="vertical">Replacement Vial(s)</span></th>
          <th class="price">Price</th>
        </tr>
      </thead>
      <tbody>
        <% @order.ordered_products.each do |ordered_product| %>
          <%= f.fields_for :ordered_products, ordered_product do |op| %>
            <tr class="ordered_product">
              <td><%= op.text_field :gene %></td>
              <td><%= op.collection_select(:ordered_product_type_id, OrderedProductType.all, :id, :product_type, { :include_blank => true }, { :class => 'ordered_product_type_id' }) %></td>
              <td><%= op.check_box :genotyping, { :class => 'genotyping', :disabled => true } %></td>
              <td><%= op.check_box :extra_vial_per_clone, { :class => 'extra_vial_per_clone', :disabled => true } %></td>
              <td><%= op.check_box :allele_qc, { :class => 'allele_qc', :disabled => true } %></td>
              <td><%= op.check_box :karyotyping, { :class => 'karyotyping', :disabled => true } %></td>
              <td><%= op.check_box :replacement_vials, { :class => 'replacement_vials', :disabled => true } %></td>
              <td class="price">0.00</td>
            </tr>
          <% end %>
        <% end %>
        <tr>
          <th colspan="7" style="text-align:right;">Subtotal</th>
          <td id="subtotal">0.00</td>
        </tr>
        <tr>
          <th colspan="7" style="text-align:right;">Shipping</th>
          <td id="shipping">0.00</td>
        </tr>
        <tr>
          <th colspan="7" style="text-align:right;"><%= @vat %>&#37; VAT</th>
          <td id="vat">0.00</td>
        </tr>
        <tr>
          <th colspan="7" style="text-align:right;">Total</th>
          <td id="total">0.00</td>
        </tr>
      </tbody>
    </table>
  </fieldset>
  
  <%= f.inputs "Aims of the Intended Experiments", :id => "aims_of_intended_experiments" do %>
    <%= f.input :usage_aims_of_experiments, :label => 'Aims of experiments' %>
    <%= f.input :usage_eu_projects, :as => :string, :label => 'Do you intend to use the material in EU-funded Project(s)? If yes, please insert project acronym(s)', :hint => 'This data is collected for statistical purposes only' %>
  <% end %>
  
  <%= f.buttons %>
<% end %>